body {
    margin: 0;
    background-color: #f3f3f4;
}

a.titleLink {
    text-decoration: initial;
}

a.whiteLink, a:visited.whiteLink {
    color: white;
}

h1 {
    font-weight: 700;
}
h2, h3, h4, h5, h6 {
    font-weight: 400;
}

#errorSnackBar>div>div {
    display: flex;
}

#errorSnackBar>div {
    max-width: 70% !important;
    height: initial !important;
    line-height: 1 !important;
    padding: 10px 24px !important;

}

#errorSnackBar>div>div>span {
    align-self: center;
}

#errorSnackBar>div>div>button {
    margin: 0px -16px 0px 24px !important;
}