.stat_chart {
    width: 900px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.stat_chart select {
    margin-bottom: 20px;
}

.stat_chart h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #0d3d47;
    padding: 0;
}