@import './variables.css';

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.navbar {
  border-radius: 0;
}

:global(.navbar-brand) img {
  display: inline-block;
  height: 26px;
}

.navbar-default {
    background-color: #75bec6;
    border-color: transparent;
    color: #ffffff;
    height: 65px;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 20px;
}
.navbar-brand {
    padding: 0 0 0 0;
}
.navbar-brand img {
    height: 50px;
    margin-top: 6px;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
    margin-top: 12px;
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-collapse {
    border: none;
}
.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
}
