@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(//fonts.googleapis.com/css?family=Dancing+Script);

/* Body */
/* Header */
/* Form */

/* Body */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* Header */
.page-header {
    border-bottom: none;
    margin-top: 130px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.titleHeader {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
.titleHeader h1 {
    font-size: 40px;
    letter-spacing: -1px;
}
.typoLogo {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #bff8ff;
    font-size: 24px;
}
.textHeader {
    font-family: 'Dancing Script', cursive;
    margin-top: 60px;
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 100px;
}

/* Form */
fieldset {
    padding: 15px;
}
.formOpacity {
    background-color: rgba(255, 255, 255, 0.5);
}
.formTitle h3 {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    opacity : 0.8;
}
.formFont {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}