@import './variables.css';

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}
.nav {
  float: none;
}
.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: none;
}
.sidebar ul li a.active {
    background-color: #eee;
}
.sidebar .arrow {
    float: right;
}
.sidebar .fa.arrow:before {
    content: "\f104";
}
.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}
.nav {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar {
    min-height: 0;
}
.navbar-color {
    background-color: #0d3d47;
    border: none;
    font-weight: 600;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    padding: 20px 25px;
    color: #ffffff;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #75bec6;
}
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav > hr {
    opacity: 0.2;
}

@media(min-width:768px) {
    .sidebar {
        height: 100%;
        margin-top: 65px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}